@media screen and (max-width: 1300px) {
  /* 공통 */
  .inner {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1200px) {
  /* 헤더 */
  .main-menu {
    font-size: 20px;
    gap: 50px;
  }
  .sub-menu {
    font-size: 18px;
  }
}
@media screen and (max-width: 980px) {
  /* 메인 */
  .sw-main .main_img_mb {
    display: block;
    width: 100%;
  }
  .sw-main .main_img {
    display: none;
  }
  /* 첫 구매 */
  .firstbuy__item__info {
    padding: 10px 3px;
  }
  .firstbuy__item__info .name {
    font-size: 18px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .firstbuy__item__info .price {
    font-size: 18px;
  }
  .firstbuy__item__info .price strong {
    font-size: 20px;
  }
  /* 세일 */
  .sale__item__left > .text a {
    font-size: 25px;
  }
  .sale__item__left > .text p,
  .price p {
    font-size: 20px;
  }
  .sale__item__left > .price {
  }
  .sale__item__left > .price > strong {
    font-size: 20px;
    padding: 5px 5px 15px 0;
  }
  .best__items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  /* 헤더 */
  .header__top {
    display: none;
  }
  .main-menu {
    display: none;
  }
  .logo-tablet {
    display: inline-block;
    padding-left: 30px;
  }
  .fa-solid {
    display: inline-block;
    font-size: 30px;
    color: black;
    line-height: 90px;
    position: absolute;
    top: 0;
    right: 80px;
    cursor: pointer;
  }
  /* 모바일 메뉴 햄버거  */
  .mbt {
    display: block;
  }
  /* <!-- 메인 --> */
  main {
    padding-top: 90px;
  }
  /* 세일 */
  .sale__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    align-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 650px) {
  /* 첫 구매시*/
  .firstbuy__item__info .price {
    display: flex;
    align-items: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 3px;
    line-height: 1;
  }
  .firstbuy__item__info .price span {
  }
  .firstbuy__item__info .price span:first-child {
    order: 2;
  }
  .firstbuy__item__info .price span:nth-child(2) {
    order: 1;
    width: 100%;
    margin-top: 10px;
  }
  .firstbuy__item__info .price strong {
    order: 3;
  }
}
@media screen and (max-width: 450px) {
  /* 헤더 */
  .logo-tablet {
    padding-left: 20px;
  }
  .logo-tablet img {
    width: 180px;
    height: auto;
  }
  .mbt {
    right: 20px;
    width: 25px;
    height: 18px;
  }
  .fa-solid {
    font-size: 25px;
    right: 60px;
  }
  /* 첫구매 */
  firstbuy > .inner {
    padding: 0 5px;
  }
  .firstbuy__item {
    flex-direction: column;
  }
  .firstbuy__item__info {
    padding: 20px 0 40px 3px;
  }
  .firstbuy__item__info .price {
    gap: 10px;
  }
  .firstbuy__item__info .name {
    -webkit-line-clamp: 1;
  }
  .firstbuy__item__info .price span:nth-child(2) {
    width: auto;
  }
  /* 세일 */
  .sale__item__left {
    padding: 0;
  }
  .sale__item__left > .text p,
  p:nth-child(3) {
    font-size: 20px;
  }
  .sale__item__left > .price > p:nth-child(1),
  p:nth-child(2),
  p {
    font-size: 15px;
  }
}
@media all and (max-width: 380px) {
  /* 세일 */
  .sale__item__left > .price > p:nth-child(1) {
    font-size: 16px;
  }
  .sale__item__left > .price > p:nth-child(2) {
    font-size: 16px;
  }
  .sale__item__left > .price > p:nth-child(3) {
    font-size: 20px;
  }
}
/* =================승아 */
@media screen and (max-width: 1032px) {
  /* ==================================리뷰 */
  .review_inner {
    margin: 0 auto;
    position: relative;
    /* background-color:rgb(217, 238, 175); */
  }
  .review_box {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 200px;
    gap: 5px;
  }
  .review_box_list {
    width: 98%;
  }
  .reiviewImg {
    width: 100%;
  }
  .review_text {
    /* width: 100%; */
    height: 100px;
    /* background-color: rgb(193, 236, 238); */
    letter-spacing: 0.3px;
    line-height: 1.5;
    margin-bottom: 100px;
    padding: 2px 2px 0 2px;
    position: relative;
  }
  .reviewStar {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
  }
  .review_name {
    font-weight: bold;
    font-size: 16px;
  }
  .review_content {
    color: #a7a7a7;
    font-size: 14px;
    position: absolute;
    bottom: -30px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }
  .review_moreBt {
    border: 1px solid #a7a7a7;
    padding: 10px 20px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    letter-spacing: 0.3px;
    color: #a7a7a7;
  }
  /* ==================================푸터 */
  .ft_inner {
    font-size: 14px;
  }
  .ft_contents {
    line-height: 1.5;
    font-size: 14px;
  }
  .ft_contents_left {
    display: none;
  }
  .cellNum {
    font-size: 28px;
    font-weight: 900;
  }
  .ft_qna_bt {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* =======================768px 승아 */
  /* ==================================배너 */
  .banner {
    width: 100%;
  }
  .banner a img {
    width: 100%;
    display: block;
    text-align: center;
  }
  /* ==================================리스트 */
  .list_box {
    width: 98%;
    /* background-color: cadetblue; */
    position: relative;
    white-space: wrap;
    gap: 8px;
  }
  .list_box li {
    width: calc(100% / 4);
  }
  .list_box_text {
    padding: 4px 0px 0px 4px;
    position: relative;
    /* background-color: blueviolet; */
  }
  .item_name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .salePercent {
    color: red;
    display: inline;
    float: left;
    font-size: 16px;
    line-height: 1.5em;
    margin-right: 5px;
  }
  .nomalPrice {
    color: #a7a7a7;
    float: left;
    font-size: 16px;
    line-height: 1.5em;
    margin-right: 5px;
  }
  .salePrice {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5em;
    bottom: 10px;
  }
  .snack_shake {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 700px) {
  /* ==================================푸터 */
  .review_inner {
    margin: 0 auto;
    position: relative;
    /* background-color:rgb(217, 238, 175); */
  }
  .review_box {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 200px;
    gap: 5px;
  }
  .review_box_list {
    width: 98%;
  }
  .reiviewImg {
    width: 100%;
  }

  .review_text {
    height: 100px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    margin-bottom: 100px;
    padding: 2px 2px 0 2px;
    position: relative;
  }
  .reviewStar {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
  }
  .review_name {
    font-weight: bold;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }
  .review_content {
    color: #a7a7a7;
    font-size: 14px;
    position: absolute;
    bottom: -30px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }
  .review_moreBt {
    border: 1px solid #a7a7a7;
    padding: 10px 20px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    letter-spacing: 0.3px;
    color: #a7a7a7;
  }
  /* ==================================푸터 */
  .ft_inner {
    font-size: 14px;
  }
  .ft_contents {
    /* letter-spacing: 0.3px;  */
    line-height: 1.5;
    font-size: 14px;
  }
  .ft_contents_left {
    display: none;
  }
  .ft_contents_right {
  }
  .cellNum {
    font-size: 28px;
    font-weight: 900;
  }
  .ft_qna_bt {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  /* ===============================500px배너 */
  .banner {
    display: none;
  }
  .mb_banner {
    display: block;
  }
  /* ============================500px리스트 */
  .snack_shake_inner {
    margin: 0 auto;
    /* background-color: rgb(235, 193, 200); */
  }
  .list_box {
    flex-wrap: wrap;
    width: 95%;
  }
  .list_box li {
    width: calc(50% - 10px);
    margin-bottom: 5px;
  }
  .list_box li a {
    width: 100%;
    display: block;
  }
  .list_box li a img {
    width: 100%;
  }
  .list_box li .list_box li .list_box li del,
  p {
    /* color: blue;  */
    letter-spacing: 0.3px;
  }
  .list_box_text {
    padding: 4px 0px 0px 4px;
    /* background-color: blueviolet; */
  }
  .item_name {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
  }
  .salePercent {
    color: red;
    display: inline;
    float: left;
    font-size: 12px;
    line-height: 1.5em;
    margin-right: 10px;
  }
  .nomalPrice {
    color: #a7a7a7;
    float: left;
    font-size: 12px;
    line-height: 1.5em;
    margin-right: 10px;
  }
  .salePrice {
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5em;
  }
  .snack_shake {
    margin-bottom: 100px;
  }
  /* =============================500px리뷰 */
  
  /* =============================500px푸터 */
 

  .ft_inner {
    height: 320px;
    font-size: 12px;
  }
  .ft_menu {
    width: 100%;
    height: 48px;
    line-height: 48px;
    gap: 2%;
    padding-left: 1%;
  }
  .ft_contents {
    line-height: 1.5;
    font-size: 10px;
  }
  .ft_contents_left {
    display: none;
  }
  .ft_contents_right p {
    font-size: 11px;
  }
  .cellNum {
    font-size: 20px;
    font-weight: 900;
  }
  .ft_qna_bt {
    margin-top: -10px;
    font-size: 10px;
  }
}
@media screen and (max-width: 320px) {
  body {
    min-width: 320px;
  }
  /* =============================320px푸터 */
  .ft_inner {
    height: 320px;
    font-size: 12px;
  }
  .ft_menu {
    width: 100%;
    height: 48px;
    line-height: 48px;
    gap: 2%;
    padding-left: 1%;
    /*  background-color: cadetblue; */
  }
  .ft_contents {
    /* letter-spacing: 0.3px;  */
    line-height: 1.5;
    font-size: 10px;
  }
  .ft_contents_left {
    display: none;
  }
  .cellNum {
    font-size: 20px;
    font-weight: 900;
  }
  .ft_qna_bt {
    margin-top: -10px;
    font-size: 10px;
  }
}
